@keyframes appear{
	from{
		opacity: 0;
		scale: 0.5;
	}
	to{
		opacity: 1;
		scale: 1;
	}
}

.animation{
	animation: appear 5s linear;
	animation-range:entry 0;
}


.cuisine h2{
	text-align: center;
}

.cuisine{
	max-width: 90%;
	margin: auto;
}